<% if !@link.errors.present? %>
  $("#link-block-<%= @link.id %>").remove()
  $(".flash").html("")
  $(".flash").html("<div class='alert alert-info' role='alert'>link was deleted successfully</div>")
<% end %>
